@import "standar";

$color1: #dcf1fb;
$color2: #f8b14c;
$color3: #777887;
$color4: #384e5e;
$color5: #885d59;
$color1Light: rgba(220, 241, 251, .5);
$color2Light: rgba(248, 177, 76, .5);
$color3Light: rgba(119, 120, 135, .5);
$color4Light: rgba(56, 78, 94, .5);
$typo: 'Ubuntu', sans-serif;


* {
	font-family: $typo;
	box-sizing: border-box;
	color: #333333;
}

html {
	scroll-behavior: smooth;
}

body {
	height: 100vh;
	background-color: $color1;
}

h3 {
	letter-spacing: 2px;
}

nav {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10px 20px 0 0;

	.hamburger {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		width: 50px;
		height: 40px;
		line-height: 5px;

		.hamburger_stick {
			display: inline-block;
			width: 100%;
			height: 3px;
			background-color: #333333;
			transition: all .2s ease-in-out;
		}
	}

	.nav_list_container {
		display: flex;
		justify-content: flex-end;
		width: 100%;

		.nav_list_link {
			margin: 10px 5px;
			padding: 10px 8px;
			text-transform: uppercase;
			font-weight: bold;
			visibility: hidden;
			opacity: 0;
			transform: translateX(20px);
			transition: all .2s ease-in-out,
						color .15s ease-in-out;
			color: $color4;

			&:hover {
				color: $color3;
			}
		}
	}
}


/*Animation classes*/

.selected {
	transform: rotate(-45deg) translate(-7px, 12px);
}

.selected2 {
	transform: translateX(20px); opacity: 0;
}

.selected3 {
	transform: rotate(45deg) translate(-3px, -8px);
}

.selected4 {
	opacity: 1 !important;
	visibility: visible !important;
	transform: translateX(0) !important;
}

/*-------------------------------------*/

header {
	width: 100%;
	height: 72vh;
	margin: 40px auto auto auto;
	background-color: $color1;
	position: relative;

	.header_text_container {
		width: 80%;
		margin: auto;
		font-size: 40px;
		z-index: 1;

		.header_tittle {
			font-size: 1.2em;
			margin-left: -5px;
		}

		.header_sub-tittle {
			font-size: 0.38em;
			letter-spacing: 2px;
			color: $color3;
		}

		.header_desc {
			font-size: 0.29em;
		}

		.desc1 {
			margin: 45px auto 13px auto;
		}

		.desc2 {
			margin-bottom: 20px;
		}

		.more {
			top: 0;
			left: 0;
			position: relative;
			font-size: 0.3em;
			font-weight: bold;
			background-color: $color2;
			border-radius: 2px;
			padding: 15px 23px;
			box-shadow: -6px 6px 0 $color4;
			transition: all .15s linear;
			letter-spacing: 1px;

			&:before {
				content: '';
				position: absolute;
				bottom: -4px;
				right: 2px;
				width: 8px;
				height: 8px;
				transform: rotate(45deg);
				background-color: $color4;
				transition: all .15s linear;
				z-index: -1;
			}

			&:after {
				content: '';
				position: absolute;
				top: 2px;
				left: -4px;
				width: 8px;
				height: 8px;
				transform: rotate(45deg);
				background-color: $color4;
				transition: all .15s linear;
				z-index: -1;
			}

			&:hover {
				top: 3px;
				left: -3px;
				box-shadow: -3px 3px 0 $color4;

				&:before {
					bottom: -2px;
					right: 1px;
					width: 4px;
					height: 4px;
				}

				&:after {
					top: 1px;
					left: -2px;
					width: 4px;
					height: 4px;
				}
			}

			&:active {
				top: 6px;
				left: -6px;
				box-shadow: none;

				&:before {
					bottom: 1px;
					right: 1px;
				}

				&:after {
					top: 1px;
					left: 1px;
				}
			}
		}
	}

	.header_background {
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		bottom: 0;

		img {
			width: 330px;
			z-index: 0;
		}
	}
}

#services {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $color2;
	padding: 80px 10px;
	min-height: 100%;

	.services_container {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 12px;
		overflow: hidden;
		padding: 10px 0;

		div {
			width: 74%;
			height: 130px;

			.services_box {
				width: 100%;
				position: relative;
				background-color: $color1;
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				font-size: 70px;
				text-align: center;
				box-shadow: -5px 5px $color4Light;
				transition: all .4s;
				user-select: none;

				i {
					font-size: .9em;
					color: $color2;
					background-color: $color4;
					padding: .27em;
					border-radius: 50%;
				}

				img {
					width: 1.4em;
					height: 1.4em;
					background-color: $color4;
					padding: .2em;
					border-radius: 50%;
				}

				p {
					display: inline;
					font-size: 0.22em;
					font-weight: bold;
					color: $color4;
				}
			}
		}

		.box1, .box3, .box5 {
			align-self: flex-start;

			&:after {
				content: '';
				position: absolute;
				width: 3px;
				height: 100%;
				background-color: $color4;
				top: 0;
				left: 0;
			}
		}

		.box2, .box4 {
			align-self: flex-end;

			&:after {
				content: '';
				position: absolute;
				width: 3px;
				height: 100%;
				background-color: $color4;
				top: 0;
				right: 0;
			}
		}
	}
}

#gallery {
	position: relative;
	text-align: center;
	background-color: $color4;
	padding: 50px 0;

	h3 {
		font-size: 35px;
		color: $color1;
		margin-bottom: 30px;

		&:after {
			content: "";
			display: block;
			height: 3px;
			width: 50px;
			background-color: $color2;
			margin: 0 auto;
			border-radius: 50px;
		}
	}

	.row {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		.column {
			flex: 30%;
			max-width: 30%;
			padding: 0 10px;

			img {
				margin-top: 22px;
				vertical-align: middle;
				width: 100%;
				cursor: pointer;
				filter: grayscale(100%);
				transition: all .15s linear;
				box-shadow: -3.5px 3.5px #333333;

				&:hover {
					filter: grayscale(0%);
					transform: scale(1.005);
					box-shadow: -5px 5px #333333;
				}
			}
		}
	}

	.fullpage {
		display: none;
		position: fixed;
		z-index: 9999;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		padding: 10vw;
		background-color: rgba(0, 0, 0, .9);

		img {
			display: inline-block;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}

		p {
			position: absolute;
			left: 50%;
			bottom: 20px;
			transform: translateX(-50%);
			color: $color1;
			letter-spacing: 2px;
			z-index: 12000;
		}
	}

	.gallery_background {
		position: absolute;
		top: calc(0% - 10%);
		right: 20px;
		width: 23vw;
		height: 23vw;
		background: url(./media/background-images/back-gallery.svg);
		background-size: contain;
		background-repeat: no-repeat;
		filter: drop-shadow(-5px 5px $color5);
	}
}

#contact {
	width: 100%;
	padding: 50px 0;
	background-color: $color1;
	text-align: center;

	h3 {
		font-size: 35px;
		margin-bottom: 30px;

		&:after {
			content: "";
			display: block;
			height: 3px;
			width: 50px;
			background-color: rgba(183, 213, 227, 1);
			margin: auto;
			border-radius: 50px;
		}
	}

	.contact_boxes_container {
		display: flex;
		justify-content: space-evenly;

		.contact_box {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border-top: 3px solid $color4;
			width: 160px;
			height: 200px;
			color: $color4;
			background-color: rgba(183, 213, 227, .7);
			transition: all .15s linear;

			i {
				font-size: 50px;
				color: #color4;
				transition: all .15s linear;
				justify-self: flex-start;
			}

			p {
				font-size: 13px;
				width: 95%;
				margin: 20px auto;
				justify-self: center;

				span {
					font-weight: bold;
				}

				.number {
					display: block;
				}
			}

			a {
				width: 65%;
				padding: 9px 0;
				font-size: 12px;
				color: $color4;
				background-color: $color2;
				border-radius: 3px;
				justify-self: flex-end;
				transition: all .15s linear;

				&:hover {
					color: $color1;
					background-color: $color4;
				}
			}

			&:hover {
				filter: drop-shadow(-.4em .4em $color3);
			}
		}
	}

	.contact_background {
		img {
			width: 350px;
			opacity: 1;
		}
	}
}

footer {
	width: 100%;
	padding: 20px 0;
	display: flex;
	justify-content: space-around;
	background-color: $color4;

	.footer_items_container {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;

		.footer_social_container {
			margin-bottom: .6em;

			a {
				i {
					font-size: 25px;
					margin: auto 5px;
					color: rgba(30, 30, 38, .7);
					transition: all .15s;

					&:hover {
						color: $color1;
					}
				}
			}
		}

		.footer_background {
			img {
				width: 80px;
				opacity: .5;
				margin: 10px auto;
			}
		}

		p {
			color: $color1;
			opacity: .6;

			span {
				color: $color1;
			}
		}

		.copyright {
			font-size: 16px;
		}

		.rights {
			font-size: 11px;
		}
	}
}


/*-----------------------------------------------------*/


@media (max-width: 375px) {
	header {
		height: 78vh;

		.header_text_container {
			.header_tittle {
				font-size: 1.2em;
				margin-left: -4px;
			}

			.header_sub-tittle {
				font-size: 0.37em;
				letter-spacing: 1.5px;
			}
		}
	}
}

@media (min-width: 400px) {
	header {
		.header_background {
			img {
				width: 90vw;
			}
		}
	}
}

@media (min-width: 520px) {
	header {
		.header_text_container {
			font-size: 40px;
		}

		.header_background {
			img {
				width: 75vw;
			}
		}
	}

	#services {
		padding: 80px 40px;
	}

	#gallery {
		padding: 15vw 0 80px 0;

		h3 {
			font-size: 6.5vw;

			&:after {
				height: 1vw;
				width: 8vw;
			}
		}

		.row {
			.column {
				flex: 30%;
				max-width: 30%;
				padding: 0 6px;

				img {
					margin-top: 12px;
				}
			}
		}

		.fullpage {
			padding: 13vw;

			p {
				bottom: 30px;
			}
		}

		.gallery_background {
			right: 5vw;
			width: 25vw;
			height: 25vw;
		}
	}

	#contact {
		h3 {
			font-size: 6.5vw;
			margin-bottom: 8vw;

			&:after {
				height: 1vw;
				width: 8vw;
			}
		}

		.contact_boxes_container {
			 .contact_box {
				width: 35vw;
				height: 40vw;
				border-top: .5vw solid $color4;
				border-radius: 5px 5px 0;

				i {
					font-size: 12vw;
				}

				p {
					font-size: 2.7vw;
				}

				a {
					width: 65%;
					padding: 1.3vw 0;
					font-size: 2.7vw;
				}

				.action2 {
					padding: 1.3vw 0;
				}
			}
		}

		.contact_background {
			img {
				width: 70vw;
				opacity: .8;
			}
		}
	} 
}

@media (min-width: 600px) {
	header {
		.header_text_container {
			font-size: 45px;
		}

		.header_background {
			img {
				width: 60vw;
			}
		}
	}

	#services {
		padding: 80px 80px;

		.services_container {
			.box1, .box2,
			.box3, .box4, .box5 {
				&:after {
					width: .4vw;
				}
			}
		}
	}
}

@media (min-width: 700px) {
	header {
		.header_background {
			 img {
			 	width: 50vw;
			 }
		}

		.header_text_container {
			font-size: 55px;
		}
	}

	#services {
		padding: 80px 110px;

		.services_container {
			gap: 10vw;

			div {
				width: 74%;
				min-height: 150px;

				.services_box {
					i {
						font-size: 1em;
					}

					img {
						width: 1.55em;
						height: 1.55em;
					}

					p {
						font-size: 0.26em;
					}
				}
			}
		}
	}

	#gallery {
		padding: 15vw 0 10vw 0;

		.gallery_background {
			right: 5vw;
			width: 22vw;
			height: 22vw;
			filter: drop-shadow(-.5vw .5vw $color5);
		}

		.fullpage {
			padding: 10vw;
		}
	}
}

@media (min-width: 900px) {
	nav {
		.hamburger {
			display: none;
		}

		.nav_list_container {
			padding: 20px;

			.nav_list_link {
				padding: 10px 8px;
				margin-right: 50px;
				visibility: visible;
				opacity: 1;
				transform: initial;
			}
		}
	}

	header {
		.header_background {
			left: initial;
			transform: initial;
			right: 30px;
			bottom: 0;
		}

		.header_text_container {
			margin: initial;
			margin-left: 80px;
			font-size: 55px;
		}
	}

	#services {
		padding: 80px 80px;

		.services_container {
			gap: 22px;

			div {
				width: 500px;
				min-height: 180px;

				.services_box {
					padding: 0 40px;

					i {
						font-size: 1.2em;
					}

					img {
						width: 1.85em;
						height: 1.85em;
					}

					p {
						font-size: 0.31em;
					}
				}
			}
		}
	}

	#gallery {
		.fullpage {
			padding: 7vw;

			p {
				bottom: 25px;
			}
		}
	}
}

@media (min-width: 1100px) {
	nav {
		.nav_list_container {
			.nav_list_link {
				font-size: 1.3vw;
			}
		}
	}

	header {
		.header_background {
			img {
				width: 45vw;
			}
		}

		.header_text_container {
			font-size: 65px;
		}
	}

	#services {
		padding: 80px 190px;

		.services_container {
			div {
				width: 530px;
				min-height: 200px;

				.services_box {
					i {
						font-size: 1.3em;
					}

					img {
						width: 1.85em;
						height: 1.85em;
					}

					p {
						font-size: 0.36em;
					}
				}
			}
		}
	}

	#gallery {
		padding: 80px 140px;

		h3 {
			font-size: 3.5vw;
			margin-bottom: 6vw;

			&:after {
				height: .7vw;
				width: 5vw;
			}
		}

		.fullpage {
			padding: 6vw;
		}

		.gallery_background {
			top: calc(0% - 12%);
			width: 23vw;
			height: 23vw;
		}
	}

	#contact {
		margin-top: 50px;
		padding: 30px 0 200px 0;

		h3 {
			font-size: 3.5vw;
			margin-bottom: 6vw;
			z-index: 1;

			&:after {
				height: .7vw;
				width: 5vw;
			}
		}

		.contact_boxes_container {
			padding: 0 15vw;

			.contact_box {
				width: 22vw;
				height: 27vw;
				z-index: 1;

				i {
					font-size: 8vw;
				}

				p {
					font-size: 1.6vw;
					width: 90%;
				}

				a {
					width: 65%;
					padding: 1.1vw 0;
					font-size: 1.6vw;
				}

				.action2 {
					padding: 1.1vw 0;
				}
			}
		}

		.contact_background {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%);
			z-index: 0;

			img {
				width: 47vw;
			}
		}
	}
}

@media (min-width: 1440px) {
	nav {
		.nav_list_container {
			padding: 40px;
		}
	}

	header {
		.header_background img {
			width: 45vw;
		}

		.header_text_container {
			font-size: 74px;
		}
	}

	#services {
		padding: 80px 220px;

		.services_container {
			gap: 32px;

			div {
				width: 650px;
				min-height: 240px;

				.services_box {
					i {
						font-size: 1.6em;
					}

					img {
						width: 2.45em;
						height: 2.45em;
					}

					p {
						font-size: 0.46em;
					}
				}
			}
		}
	}

	#gallery {
		padding: 80px 12vw 130px 12vw;

		.fullpage {
			padding: 5vw;

			p {
				font-size: 1.5vw;
				bottom: 20px;
			}
		}
	}

	footer {
		height: initial;
		padding: 30px 0;

		.footer_items_container {
			.footer_social_container {
				a {
					i {
						font-size: 2.8vw;
						margin: auto .25em;
					}
				}
			}

			.footer_background {
				img {
					width: 9vw;
					margin: 20px auto;
					opacity: .8;
				}
			}

			p {
				opacity: .8;
			}

			.copyright {
				font-size: 1.5vw;
			}

			.rights {
				font-size: 1.1vw;
			}
		}
	}
}

@media (min-width: 1920px) {
	nav {
		.nav_list_container {
			padding: 50px;

			.nav_list_link {
				font-size: 1.8em;
				margin-right: 70px;
			}
		}
	}

	header {
		.header_text_container {
			font-size: 95px;

			.header_tittle {
				font-size: 1.1em;
				margin-bottom: 10px;
			}

			.header_sub-tittle {
				font-size: 0.5em;
			}

			.desc1 {
				margin: 65px auto 23px auto;
			}

			.desc2 {
				margin-bottom: 50px;
			}

			.more {
				padding: 27px 33px;
			}
		}

		.header_background img {
			width: 48vw;
		}
	}

	#services {
		padding: 80px 350px;

		.services_container {
			gap: 52px;

			div {
				width: 700px;
				min-height: 270px;

				.services_box i {
					font-size: 1.9em;

					img {
						width: 2.9em;
						height: 2.9em;
						padding: .3em;
					}

					p {
						font-size: 0.52em;
					}
				}
			}
		}
	}

	#contact {
		margin-top: 0;
		padding: 80px 0 200px 0;
	}

	footer {
		padding: 40px 0;
	}
}