@import "standar";

$color1: #dcf1fb;
$color2: #f8b14c;
$color3: #777887;
$color4: #384e5e;
$typo: 'Ubuntu', sans-serif;

* {
	font-family: $typo;
}

body {
	height: 100vh;
	background-color: $color1;
}

nav {
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
}

nav .nav_list_container {
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
}

nav .nav_list_container .nav_list_link {
	margin: 10px 5px;
	padding: 10px 8px;
	text-transform: uppercase;
	font-weight: bold;
	visibility: hidden;
	opacity: 0;
	transform: translateX(20px);
	transition: all .2s ease-in-out;
	color: $color4;
}

.hamburger {
	width: 40px;
	height: 30px;
	line-height: 5px;
	padding: 15px 20px;
}

.hamburger .hamburger_stick {
	display: inline-block;
	width: 100%;
	height: 3px;
	margin: auto;
	background-color: #000000;
	transition: all .2s ease-in-out;
}


/*Animation classes*/

.selected {
	transform: rotate(-45deg) translate(-3px, 8px);
}

.selected2 {
	transform: translateX(20px); opacity: 0;
}

.selected3 {
	transform: rotate(45deg) translate(-3px, -8px);
}

.selected4 {
	opacity: 1 !important;
	visibility: visible !important;
	transform: translateX(0) !important;
}

/*-------------------------------------*/

header {
	width: 100%;
	height: 68vh;
	margin: 40px auto auto auto;
	background-color: $color1;
	position: relative;
}

header .header_text_container {
	width: 80%;
	margin: auto;
}

header .header_tittle {
	font-size: 40px;
}

header .header_sub-tittle {
	font-size: 16px;
}

header .header_desc {
	font-size: 12px;
}

header .desc1 {
	margin: 35px auto 13px auto;
}

header .desc2 {
	margin-bottom: 20px;
}

header .more {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	background-color: $color2;
	border-radius: 2px;
	padding: 10px 23px;
}

header .header_background {
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	bottom: 0;
}

header img {
	width: 330px;
}

#services {
	background-color: $color2;
	width: 100%;
	height: 550px;
}

#services .services_container {
	width: 100%;
	height: 100%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

#services .services_container .services_box {
	background-color: $color1;
	margin: 7px;
	width: 100px;
	height: 130px;
	border-top: 3px solid $color4;
	display: flex;
	flex-direction: column;
	text-align: center;
}

#services .services_container .services_box i {
	font-size: 50px;
	color: $color2;
	margin-top: 15px;
}

#services .services_container .services_box img {
	width: 50px;
	height: 50px;
	margin: 15px auto 0 auto;
}

#services .services_container .services_box p {
	font-size: 10px;
	font-weight: bold;
	color: $color4;
	width: 90%;
	margin: 0 auto;
	margin-top: 10px;
}

#contact {
	width: 100%;
	height: 75vh;
	background-color: $color1;
	text-align: center;
}

#contact h3 {
	font-size: 35px;
	margin: 20px auto;
}

#contact h3::after {
	content: "";
	display: block;
	height: 3px;
	width: 50px;
	background-color: rgba(183, 213, 227, .7);
	margin: auto;
}

#contact .contact_boxes_container {
	display: flex;
	justify-content: center;
}

#contact .contact_boxes_container .contact_box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-top: 3px solid $color4;
	width: 160px;
	height: 200px;
	color: $color4;
	background-color: rgba(183, 213, 227, .7);
}

#contact .contact_boxes_container .box1 {
	margin-right: 5px;
}

#contact .contact_boxes_container .contact_box i {
	font-size: 50px;
	color: #color4;
}

#contact .contact_boxes_container .contact_box .cicon2 {
	font-size: 47px;
}

#contact .contact_boxes_container .contact_box p {
	font-size: 13px;
	width: 95%;
	margin: 20px auto;
}

#contact .contact_boxes_container .contact_box p span {
	font-weight: bold;
}

#contact .contact_boxes_container .contact_box a {
	padding: 9px 15px;
	font-size: 12px;
	font-weight: 400;
	color: $color4;
	background-color: $color2;
	border-radius: 3px;
}

#contact .contact_boxes_container .contact_box .action2 {
	padding: 9px 40px;
}

#contact .contact_background img {
	width: 350px;
	opacity: .8;
}

footer {
	height: 200px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	background-color: $color4;
	padding-bottom: 10px;
}

footer .footer_items_container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

footer .footer_items_container .footer_social_container a {
	font-size: 23px;
	margin: auto 5px;
	color: rgba(30, 30, 38, .7);
}

footer .footer_items_container .footer_social_container a:hover {
	color: $color1;
}

footer .footer_items_container .footer_background img {
	width: 120px;
	opacity: .3;
	margin: 10px auto;
}

footer .footer_items_container p {
	color: rgba(30, 30, 38, 1);
}

footer .footer_items_container .copyright {
	font-size: 16px;
}

footer .footer_items_container .rights {
	font-size: 11px;
}

@media only screen and (max-width: 328px) {

	#services .services_container .services_box p {
		font-size: 10px;
	}

}

@media only screen and (max-width: 600px) {

	header .header_background img {
		width: 60vw !important;
	}

	#services .services_container .services_box {
		height: 150px;
		width: 100px !important;
	}

	#services .services_container .services_box p {
		font-size: 12px !important;
	}

}

@media only screen and (max-width: 800px) {

	header .header_background img {
		width: 400px;
	}

	#services .services_container .services_box {
		width: 27vw;
	}

	#services .services_container .services_box p {
		font-size: 3vw;
	}

	#contact .contact_background img {
		width: 80vw;
	}

}

@media only screen and (min-width: 1200px) {

	#services {
		height: 500px;
	}

}

@media only screen and (min-width: 600px) {

	nav .hamburger {
		display: none;
	}

	nav .nav_list_container {
		margin: 40px 40px 0 30px!important;
	}

	nav .nav_list_container .nav_list_link {
		visibility: visible;
		opacity: 1;
		margin-right: 50px;
		padding: 0 !important;
		transform: translateX(0) !important;
	}

	nav .nav_list_container .nav_list_link:hover {
		color: #000000;
	}

	/*nav .nav_list_container .nav_list_link {
		margin: 10px 5px;
		padding: 10px 8px;
		text-transform: uppercase;
		font-weight: bold;
		visibility: hidden;
		opacity: 0;
		transform: translateX(20px);
		transition: all .2s ease-in-out;
		color: $color4;
	}*/

	header {
		height: 75vh;
	}

	header .header_text_container {
		padding-left: 50px;
		padding-top: 60px;
		width: 90%;
	}

	header .header_tittle {
		font-size: 5.3vw !important;
		margin-left: -3px;
	}

	header .header_sub-tittle {
		font-size: 2.3vw !important;
	}

	header .header_desc {
		margin: 0;
		width: 450px;
		font-size: 1.4vw;
		font-weight: 300;
	}

	header .desc1 {
		margin: 50px 0 20px 0;
	}

	header .desc2 {
		margin-bottom: 25px;
	}

	header .more {
		padding: 12px 26px;
		font-size: 1.2vw;
	}

	header .header_background {
		left: 70%;
	}

	header .header_background img {
		width: 50vw;
	}

	/*header .header_background {
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	bottom: 0;
	}

	header img {
		width: 330px;
	}*/

	#services .services_container .services_box {
		width: 180px !important;
		height: 200px !important;
		background-color: rgba(220, 241, 251, 1);
		border-top: 5px solid $color4;
		padding: 10px 0;
	}

	#services .services_container .services_box i {
		font-size: 5.4vw !important;
		margin-bottom: 10px;
	}

	#services .services_container .services_box img {
		width: 90px !important;
		height: 75px;
		margin-bottom: 10px;
	}

	#services .services_container .services_box p {
		font-size: 17px;
		width: 90%;
	}

	#contact {
		height: 750px;
	}

	#contact h3 {
		font-size: 45px;
		margin: 50px auto;
	}

	#contact h3::after {
		background-color: $color2;
		height: 6px;
		border-radius: 20px;
	}

	#contact .contact_boxes_container .contact_box {
		width: 260px;
		height: 350px;
	}

	#contact .contact_boxes_container .box1 {
		margin-right: 30px;
	}

	#contact .contact_boxes_container .contact_box i {
		font-size: initial;
		font-size: 75px;
	}

	#contact .contact_boxes_container .contact_box .cicon2 {
		font-size: 70px;
	}

	#contact .contact_boxes_container .contact_box p {
		font-size: 20px;
		margin: 40px auto;
	}

	#contact .contact_boxes_container .contact_box a {
		font-size: 17px;
		background-color: rgba(248, 177, 76, 1);
		transition: background .5s;
	}

	#contact .contact_boxes_container .contact_box a:hover {
		background-color: rgba(248, 147, 0, 1);
	}

	#contact .contact_background img {
		width: 500px;
	}

/*	#contact .contact_boxes_container .contact_box i {
	font-size: 50px;
	color: #color4;
}

#contact .contact_boxes_container .contact_box .cicon2 {
	font-size: 47px;
}

#contact .contact_boxes_container .contact_box p {
	font-size: 13px;
	width: 95%;
	margin: 20px auto;
}

#contact .contact_boxes_container .contact_box p span {
	font-weight: bold;
}

#contact .contact_boxes_container .contact_box a {
	padding: 9px 15px;
	font-size: 12px;
	font-weight: 400;
	background-color: $color2;
	border-radius: 3px;
}

#contact .contact_boxes_container .contact_box .action2 {
	padding: 9px 40px;
}*/

}